<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">

    <!-- Enable features -->
    <featureManager>
        <feature>microProfile-5.0</feature>
        <feature>persistence-3.0</feature>
        <feature>persistenceContainer-3.0</feature>
        <feature>enterpriseBeansLite-4.0</feature>
    </featureManager>

    <logging consoleLogLevel="INFO" traceSpecification="*=info:eclipselink.sql=all:com.affiancesolutions.kingtiger.ktbtracker.server.*=finer:UILogger=all:JAXRSRequestTracer=finest"/>

    <!-- To access this server from a remote client add a host attribute to the following element, e.g. host="*" -->
    <httpEndpoint id="defaultHttpEndpoint" httpPort="9080" httpsPort="9443" host="localhost">
        <headers>
            <setIfMissing>Strict-Transport-Security:max-age=63072000; includeSubDomains</setIfMissing>
            <setIfMissing>Content-Security-Policy:default-src http: https: data: 'unsafe-inline' 'unsafe-eval'; frame-ancestors 'self'</setIfMissing>
            <setIfMissing>X-Content-Type-Options:nosniff</setIfMissing>
            <setIfMissing>X-Frame-Options:SAMEORIGIN</setIfMissing>
            <setIfMissing>X-XSS-Protection:1; mode=block</setIfMissing>
        </headers>
    </httpEndpoint>
    <cors domain="/"
          exposeHeaders="X-API-Query-Count,X-API-Query-Time,X-API-Time"
          allowedOrigins="*"
          allowedHeaders="Accept,Authorization,Content-Type,Origin"
          allowedMethods="GET,POST,PUT,DELETE,OPTIONS,HEAD"
          allowCredentials="true"/>
    <webSecurity allowFailOverToBasicAuth="false" logoutOnHttpSessionExpire="true" singleSignonEnabled="false"/>
    <webContainer addStrictTransportSecurityHeader="max-age=63072000; includeSubDomains"/>

    <!-- Automatically expand WAR files and EAR files -->
    <applicationManager autoExpand="true"/>

    <!-- Default SSL configuration enables trust for default certificates from the Java runtime -->
    <ssl id="defaultSSLConfig" trustDefaultCerts="true"/>

    <mpJwt
            id="myMpJwt"
            jwksUri="https://www.googleapis.com/service_accounts/v1/jwk/securetoken@system.gserviceaccount.com"
            issuer="https://securetoken.google.com/ktbtracker-1659484356633"
            userNameAttribute="user_id"
            audiences="ktbtracker-1659484356633">
    </mpJwt>

    <library id="JDBC_DRIVER">
        <fileset dir="${shared.config.dir}/lib/jdbc" includes="*.jar"/>
    </library>
    <dataSource id="DefaultDataSource">
        <jdbcDriver libraryRef="JDBC_DRIVER"/>
        <properties serverName="${database.host}" portNumber="${database.port}"
                    databaseName="${database.name}" user="${database.user}" password="${database.password}"
                    useSSL="false" allowMultiQueries="true" serverTimezone="UTC" allowPublicKeyRetrieval="true"
                    zeroDateTimeBehavior="CONVERT_TO_NULL"/>
    </dataSource>

    <jpa>
        <defaultProperties>
            <property name="eclipselink.target-database" value="PostgreSQL"/>
            <property name="eclipselink.logging.level.sql" value="FINE"/>
            <property name="eclipselink.logging.parameters" value="true"/>
            <!--
            <property name="eclipselink.application-location" value="${user.dir}"/>
            <property name="eclipselink.ddl-generation" value="drop-and-create-tables"/>
            <property name="eclipselink.ddl-generation.output-mode" value="sql-script"/>
            <property name="eclipselink.create-ddl-jdbc-file-name" value="createDDL.sql"/>
            <property name="eclipselink.drop-ddl-jdbc-file-name" value="dropDDL.sql"/>
            <property name="eclipselink.target-database" value="PostgreSQL"/>-->
            <property name="eclipselink.ddlgen-terminate-statements" value="true"/>
        </defaultProperties>
    </jpa>
<!--
    <trustAssociation disableLtpaCookie="true" invokeForUnprotectedURI="true">
        <interceptors classname="com.affiancesolutions.kingtiger.ktbtracker.server.auth.JsonWebTokenTAI" enabled="true"
                      />

    </trustAssociation>
    -->
</server>
