<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">

    <!-- Enable features -->
    <featureManager>
        <feature>microProfile-5.0</feature>
        <feature>persistence-3.0</feature>
        <feature>persistenceContainer-3.0</feature>
        <feature>enterpriseBeansLite-4.0</feature>
    </featureManager>

    <logging consoleLogLevel="INFO" traceSpecification="*=info:com.affiancesolutions.*=all:JAXRSRequestTracer=finer"/>

    <!-- To access this server from a remote client add a host attribute to the following element, e.g. host="*" -->
    <httpEndpoint id="defaultHttpEndpoint" httpPort="-1" httpsPort="9443"/>

    <!-- Automatically expand WAR files and EAR files -->
    <applicationManager autoExpand="true"/>

    <!-- Default SSL configuration enables trust for default certificates from the Java runtime -->
    <ssl id="defaultSSLConfig" trustDefaultCerts="true"/>

    <library id="MYSQL_JDBC_DRIVER">
        <fileset dir="${shared.config.dir}/lib/jdbc" includes="*.jar"/>
    </library>
    <dataSource id="DefaultDataSource">
        <jdbcDriver libraryRef="MYSQL_JDBC_DRIVER"/>
        <properties serverName="${database.host}" portNumber="${database.port}"
                    databaseName="${database.name}" user="${database.user}" password="${database.password}"
                    useSSL="false" allowMultiQueries="true" serverTimezone="UTC" allowPublicKeyRetrieval="true"/>
    </dataSource>

    <jpa>
        <defaultProperties>
            <property name="eclipselink.target-database" value="MySQL"/>
            <property name="eclipselink.logging.level.sql" value="FINE"/>
            <property name="eclipselink.logging.parameters" value="true"/>
            <property name="eclipselink.ddlgen-terminate-statements" value="true"/>
            <property name="jakarta.persistence.schema-generation.scripts.action" value="drop-and-create"/>
            <property name="jakarta.persistence.schema-generation.scripts.create-target"
                      value="../../../../createDDL.sql"/>
            <property name="jakarta.persistence.schema-generation.scripts.drop-target" value="../../../../dropDDL.sql"/>
        </defaultProperties>
    </jpa>
<!--
    <trustAssociation disableLtpaCookie="true" invokeForUnprotectedURI="true">
        <interceptors classname="com.affiancesolutions.kingtiger.ktbtracker.server.auth.JsonWebTokenTAI" enabled="true"
                      />

    </trustAssociation>
    -->
</server>
